{{ $opts := dict "output" "htmlAndMathml" "displayMode" (not (eq ($.Type) "inline")) -}}

{{ with transform.ToMath .Inner $opts -}} 
  {{ if .Err -}}  <!-- Verifica se houve erro na transformação -->
    {{ errorf "Unable to render mathematical markup to HTML using the transform.ToMath function. The KaTeX display engine threw the following error: %s: see %s." .Err $.Position -}}
  {{ else -}}  <!-- Se não houver erro -->
    {{ .Value -}}  <!-- Exibe o valor transformado -->
    {{ $.Page.Store.Set "hasMath" true -}}  <!-- Marca a página como contendo matemática -->
  {{ end -}}
{{ end -}}

