<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ '/feed.xml' | relative_url }}">
</head>
<body>
    <header>
        <h1>{{ site.title }}</h1>
        <nav>
            <ul>
                <li><a href="{{ '/' | relative_url }}">Home</a></li>
                <li><a href="{{ '/about/' | relative_url }}">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
   <div class="container"><p class="m-0 text-center text-white">Este projeto está licenciado sob a <a href="https://opensource.org/licenses/MIT" >Licença MIT</a>. Veja o <a>arquivo de licença</a> para mais detalhes.</p></div>
    </footer>
</body>
</html>

